*,
*::before,
*::after {
    box-sizing: border-box;
}

/* * {
    outline: 2px solid red;
} */

body {
    margin: 0px;
    background-color: rgb(247, 202, 202);
    font-family: Arial, Verdana, Tahoma, sans-serif;
}

.text-color-white {
    color: white;
}

.center-image {
    display: block;
    margin: auto;
    border: 2px solid black;
}

.center-text {
    list-style-position: inside;
    text-align: center;
}

.underline-text {
    text-decoration: underline;
}

.font-large {
    font-size: large;
}

.image-by-under {
    display: block;
    font-size: small;
    color: black;
}

.main-page-button {
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid rgb(0, 26, 255);
    background-color: black;
    padding: 10px;
    height: auto;
    margin: 5px 10px;
}

.description-box {
    max-width: 500px;
    margin: auto;
}

.alignment-change-small-left {
    margin-left: 5px;
}